.courses {
    grid-area: courses;
}

.courses__wrap {
    height: 490px;
    max-height: 100%;
    margin-top: 10px;
    padding-right: 10px;
    overflow-y: auto;
}

.courses__item {
    display: grid;
    grid-template-columns: 0.3fr 1.4fr 0.8fr 0.4fr auto;
    column-gap: 2em;
    align-items: center;
    padding: 10px 25px 10px 10px;
    margin-bottom: 15px;
    background-color: $gray;
    border-radius: 14px;

    @media (max-width: $xxl) {
        grid-template-columns: 0.2fr 1.6fr 0.8fr 0.4fr auto;
    }
}

.course__logo {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course__descr {
    h4 {
        font-size: 16px;
        font-weight: 700;
    }
}

.course__time, 
.course__rating {
    display: flex;
    align-items: center;

    span {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-left: 8px;
        padding-top: 4px;

        @media (max-width: $xxl) {
            text-align: center;
            margin-left: 0;
        }
    }

    @media (max-width: $xxl) {
        flex-direction: column;
        align-items: center;
    }
}

