.premium-banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2em;
    grid-area: premium-banner;
    padding: 20px;
    background-color: $gray;
    border-radius: 14px;
}
