.premium-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: premium-banner;
    padding: 20px;
    // width: 438px;
    // height: 193px;
    background-color: $gray;
    border-radius: 14px;
}

.premium-banner__descr {
    h3 {
       
    }
}