$black: #000;
$white: #fff;
$gray: #F5F5F7;


$xxl: 1399.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

.sidebar, .course, .statistics {
    border: 1px solid black;
    // margin: 5px;
}













