.wrapper {
    display: grid;
    grid-template-columns: 120px 2fr 1.2fr;
    column-gap: 3em;
    row-gap: 2em;
    grid-template-areas:
     "sidebar header navigation"
     "sidebar header stat-boxes"
     "sidebar course statistics"
     "sidebar courses statistics"
     "sidebar courses statistics"
     "sidebar courses premium-banner";
    padding: 30px;
    width: 100%;

    @media (max-width: $xxl) {
        
    }

    @media (max-width: $xl) {
        // max-width: 960px;
        grid-template-columns: 120px 1fr;
        column-gap: 2em;
        row-gap: 1.5em;
        grid-template-areas:    
        "sidebar navigation"
        "sidebar header"
        "sidebar stat-boxes"
        "sidebar course"
        "sidebar courses"
        "sidebar statistics"
        "sidebar premium-banner";
    }

    @media (max-width: $lg) {
        // max-width: 720px;
        grid-template-columns: 1fr;
        column-gap: 1.5em;
        row-gap: 1em;
       
        grid-template-areas:
        // "sidebar"    
        "navigation"
        "header"
        "stat-boxes"
        "course"
        "courses"
        "statistics"
        "premium-banner";
    }

    @media (max-width: $md) {
        // max-width: 540px;
    }

    @media (max-width: $sm) {
        max-width: none;
    }
}