@import "variables";


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Baloo Bhai 2', cursive;
    color: $black;
    background-color: $white;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 120px 2fr 1.2fr;
    column-gap: 3em;
    row-gap: 2em;
    grid-template-areas:
     "sidebar header navigation"
     "sidebar header stat-boxes"
     "sidebar course statistics"
     "sidebar courses statistics"
     "sidebar courses statistics"
     "sidebar courses premium-banner";
    // max-width: 100%;
    padding: 30px;

    @media (max-width: $xxl) {
        
    }

    @media (max-width: $xl) {
        // max-width: 960px;
        grid-template-columns: 120px 1fr;
        column-gap: 2em;
        row-gap: 1.5em;
        grid-template-areas:    
        "sidebar navigation"
        "sidebar header"
        "sidebar stat-boxes"
        "sidebar course"
        "sidebar courses"
        "sidebar statistics"
        "sidebar premium-banner";
    }

    @media (max-width: $lg) {
        // max-width: 720px;
        // max-width: 960px;
        grid-template-columns: 1fr;
        column-gap: 1.5em;
        row-gap: 1em;
       
        grid-template-areas:
        " sidebar"    
        " navigation"
        " header"
        " stat-boxes"
        " course"
        " courses"
        " statistics"
        " premium-banner";
    }

    @media (max-width: $md) {
        // max-width: 540px;
    }

    @media (max-width: $sm) {
        // max-width: none;
    }
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*import files*/
@import "common";
@import "slider";
@import "sidebar";
@import "header";
@import "course";
@import "courses";
@import "navigation";
@import "stat-boxes";
@import "statistics";
@import "premium-banner";

